<%- include('partials/header'); -%>

<ul class="recipes">
  <li class="recipe">
    <img src="/img11.jpg" alt="cocktail recipe icon" />
    <h4>Banana List</h4>
    <p>Banana Team 1 , 2 , 3</p>
  </li>
  <li class="recipe">
    <img src="/img11.jpg" alt="cocktail recipe icon" />
    <h4>Orange List</h4>
    <p>Orange Team 1 , 2 , 3</p>
  </li>
  <li class="recipe">
    <img src="/img11.jpg" alt="cocktail recipe icon" />
    <h4>Kiwi List</h4>
    <p>Kiwi Team 1 , 2 , 3</p>
  </li>
  <li class="recipe">
    <img src="/img11.jpg" alt="cocktail recipe icon" />
    <h4>Apple List</h4>
    <p>Apple Team 1 , 2 , 3</p>
  </li>
  <li class="recipe">
    <img src="/img11.jpg" alt="cocktail recipe icon" />
    <h4>Carrot List</h4>
    <p>Carrot Team 1 , 2 , 3</p>
  </li>
  <li class="recipe">
    <img src="/img11.jpg" alt="cocktail recipe icon" />
    <h4>Milk List</h4>
    <p>Milk Team 1 , 2 , 3</p>
  </li>
</ul>

<%- include('partials/footer'); -%>
