<%- include('partials/header'); -%>

<header>
  <div class="logo">
    <img src="/logo.png" alt="" />
  </div>
  <div class="headings">
    <h2>Secret Docs With Auth</h2>
    <h3>By milad For Everyone</h3>
    <a href="/docs" class="btn">View Secret Page</a>
  </div>
</header>

<%- include('partials/footer'); -%>
